<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoodsServlet</servlet-name>
        <servlet-class>servlet.GoodsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoodsServlet</servlet-name>
        <url-pattern>/GoodsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExitServlet</servlet-name>
        <servlet-class>servlet.ExitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExitServlet</servlet-name>
        <url-pattern>/ExitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BoxServlet</servlet-name>
        <servlet-class>servlet.BoxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BoxServlet</servlet-name>
        <url-pattern>/BoxServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeServlet</servlet-name>
        <servlet-class>servlet.ChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeServlet</servlet-name>
        <url-pattern>/ChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getGoodsServlet</servlet-name>
        <servlet-class>servlet.getGoodsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getGoodsServlet</servlet-name>
        <url-pattern>/getGoodsServlet</url-pattern>
    </servlet-mapping>
</web-app>